In [143]:
import pandas as pd

In [144]:
df_quiz = pd.read_csv('../../employeeEngagement/raw/quiz.csv')

df_quiz_result = pd.read_csv('../../employeeEngagement/raw/quizResults.csv')

In [145]:
df_quiz = df_quiz.drop(columns=['totalTimeComplete', 'questions' ])

In [152]:
merged_df = pd.merge(
    df_quiz, df_quiz_result,
    left_on=['id'],
    right_on=['quizId'],
    how='inner'
)
display(merged_df.loc[merged_df['chapterId']==1])

,id_x,title,chapterId,totalMarks,totalQuestion,id_y,employeeId,quizId,score,completedAt
0,1,Operation see determine remain near.,1,17,6,227,20,1,54,2024-10-07 11:06:43.344906
1,1,Operation see determine remain near.,1,17,6,666,54,1,51,2024-10-07 11:06:43.351014
2,1,Operation see determine remain near.,1,17,6,1199,98,1,4,2024-10-07 11:06:43.359542
3,2,Live wide no anything their truth end.,1,11,5,228,20,2,35,2024-10-07 11:06:43.344908
4,2,Live wide no anything their truth end.,1,11,5,667,54,2,14,2024-10-07 11:06:43.351016
5,2,Live wide no anything their truth end.,1,11,5,1200,98,2,1,2024-10-07 11:06:43.359543

In [147]:
merged_df = merged_df.loc[merged_df.groupby(['employeeId', 'quizId','chapterId'])['completedAt'].idxmax()]

merged_df.reset_index(drop=True, inplace=True)

In [148]:
merged_df['completedAt'] = pd.to_datetime(merged_df['completedAt'])

merged_df['completedAt'] = merged_df['completedAt'].dt.date.astype(str)

merged_df['completedAt'] = pd.to_datetime(merged_df['completedAt'])

In [149]:
merged_df['score'] = merged_df['score'].fillna(0)

In [150]:
merged_df = merged_df.drop(columns=['id_x' ])

In [151]:
merged_df.to_csv("../../employeeEngagement/prep/quiz.csv")